/* Wizard styles for brand creation */
.brand-wizard-container {
  min-height: 100vh !important;
  background: linear-gradient(to right, #136A8A, #267871) !important;
}

.brand-wizard-form-summary {
  color: white !important;
}

.brand-wizard-form-summary .step-indicator {
  background-color: rgba(255, 255, 255, 0.35) !important;
}

.brand-wizard-form-summary h1 {
  color: white !important;
}

.brand-wizard-form-summary p {
  color: white !important;
}

.brand-wizard-footer-button-back {
  border-color: white !important;
  color: white !important;
}

.brand-wizard-footer-button-back:hover {
  border-color: white !important;
  background-color: white !important;
  color: black !important;
}

.brand-wizard-footer-button-next {
  background-color: rgba(17, 17, 17, 0.35) !important;
  color: white !important;
}
